/* Texto*/
.tituloPreguntas{
    color: lightcoral;
    margin-bottom: 5vh;
    font-size: 7vh;
}
h1{
    font-size: 22px;
    color: lightcoral;
}
h2{
    font-size: 22px;
}

/*Tienda*/
.fotoTienda{
    object-fit: cover;
}

/*RESPONSIVE PREGUNTAS Y CONTACTO*/
/*Desktop*/

//FLEXBOX PREGUNTAS

.contenedorMain{
    display: flex;
    .contenedorFlex
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
    }
    .contenedorAside{
        display: flex;
        flex-flow: row nowrap;
        background-color: black;
        .fotoP{
            width: 75vh;
            height: 100vh;
        }
    }
    .contenedorSection{
        display: flex;
        position: relative;
        left: 100px;
        top: 50px;
        text-align: center;

    }
    .textoP{
        margin: 10vh 0vh 0vh 10vh;
        
    }
    
}

.alaIzq{
    text-align: left;
    margin-left: 8vh;
    
}

.textoC{
    font-size: 18px;
    font-weight: bold;
    
}

/*GRID CONTACTO*/
.gridContacto{
    display: grid;
    grid-auto-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
    "fotoContacto formulario"   
    ;
}

/*Nombre de areas*/
.fotoContacto{
    grid-area: fotoContacto;
}
.formulario{
    grid-area: formulario;
    margin-top: 2rem;
}

.tamañofotoContacto{
    width: 40rem;
    height: 60rem;
}

/*Tablet*/
@media (min-width:600px) and (max-width: 1023px){
    /*PREGUNTAS*/
    .fotoP{
        display: none;
    }
        

      /*CONTACTO*/
      
      .gridContacto{
        display: grid;
        grid-auto-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas:
        "formulario"   
        ;
    }
    
    /*Nombre de areas*/
    
    .formulario{
        grid-area: formulario;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    
    .tamañofotoContacto{
        display: none;
    }

}



/*Smartphone*/
@media (max-width: 599px){
    /*PREGUNTAS*/
    .fotoP{
        display: none;
    }
        

      /*CONTACTO*/
      
      .gridContacto{
        display: grid;
        grid-auto-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas:
        "formulario"   
        ;
    }
    
    /*Nombre de areas*/
    
    .formulario{
        grid-area: formulario;
        margin-left: 2vh;
        
    }
    
    .tamañofotoContacto{
        display: none;
    }

}

    


